#button{
    width: 555px;
    height: 100px;
}
#body{
    background-color: aqua;
}
#output{
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}